.container{
    display: flex;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 1.5rem;
    width: 75%;
    gap: 1rem;
    align-items: flex-end;
    background-color: #fff;
    color: black;
    position: absolute;
    bottom: -50px;
    width: 80%; 
}