.aside{
    width: 18vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 5rem;
}


.container{
    background-color: #F7F8FA;
    padding: 1.75rem !important;
}

.title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitle{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.input{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    width: 14.5vw;
}

.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.rangeSlider {
    width: 100%;
    margin: 10px 0;
    appearance: none;
    -webkit-appearance: none;
    height: 6px;
    background: #ddd;
  }

.rangeSlider::-moz-range-thumb {
    background: #FC5056;
    cursor: pointer;
    border: none;
}

.btn{
    background-color: #FC5056;
    width: 8vw;
    height: 6.25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
    background-color: #dd464b;
}